body {
    margin: 0 auto;
    background-color: #fcfcfc;
    max-width: 800px;
    text-align: center;
    font-family: sans-serif;
    color: #333333;
    font-size: 16px;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

form {
    margin-top: 50px;
}

label {
    margin-left: -198px;
}

.button {
    background-color: rgb(53, 58, 155);
    color: #fcfcfc;
    padding: 17px 32px;
    font-size: 15px;
    border: none;
}

.textbox {
    padding: 15px;
    font-size: 16px;
}

#f {
    margin-top: 50px;
    font-size: 20px;
}